@use '../utils' as *;

#root,
body,
html {
	height: 100%;
	margin: 0;
}

.virus-tracker {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: rem(10);

	@include breakpoint-down(small_medium) {
		margin: 0 10%;
	}
}
